.wp-block-button .wp-block-button__link {
  color: #fff;
  background-color: #000;
  opacity: 80%;
  padding: 12px 20px;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 0.01em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wp-block-button .wp-block-button__link:hover {
  opacity: 100%;
  top: -2px;
  position: relative;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  padding: 10px 20px;
  opacity: 100%;
}

.wp-block-button.is-style-btn-link .wp-block-button__link {
  padding: 10px 20px;
  opacity: 100%;
  border: none;
  background-color: transparent;
  font-weight: 800;
  border-color: transparent;
  color: #001dbe;
}

.wp-block-button.is-style-btn-link .wp-block-button__link::hover {
  text-decoration: underline;
}
